@tailwind base;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap");
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}
ul li {
  @apply px-3 cursor-pointer hover:text-blue-400;
}
.img-bg {
  background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.6)),
    url("/pic.jpg");
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  background-position: center;
  width: 100%;
  height: 100vh;
}
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
.img2-bg {
  background: linear-gradient(0deg, transparent, rgba(0, 0, 0, 0.6)),
    url("/pic5.jpg");
  object-fit: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  overflow: hidden;
  background-position: center;
  width: 100%;
  height: max-content;
}

.icons{
  width: 40px !important;
  height: 40px !important;
}
@media (max-width: 1000px) {
  .img-bg {
    background-size: cover;
    height: 70vh;
    
  }


  .services{
    transform: translateY(-20px);
  }

}
@media (max-width: 900px) {
  .intro-div {
    transform: translateY(-50px) !important;
  }
}
@media (max-width: 300px) {
  .intro-div {
    transform: translateY(-20px) !important;
  }
}

@media(max-width:950px){
 
 
  .icons{
    width: 30px !important;
   
  }
 
  
}
@media(max-width:400px){
  
}
@media (min-width: 280px) and (max-width: 360px){
  .img-bg{
    height: 80vh;
  }

  .services{
    transform: translateY(-20px);
  }
}

.top_part {
  background: #2563EB;
  padding: 120px 0;
  transform: skew(0deg, -10deg) translateY(-120px);
}

.textbox {
  padding: 100px 20px;
  transform: skew(0deg, 10deg);
}

@media screen and (max-width: 768px) {
  .top_part {
    padding: 80px 0;
    transform: skew(0deg, -5deg) translateY(-40px);
  }
  
  .textbox {
    padding: 40px 10px;
    transform: skew(0deg, 5deg);
  }
}

